@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

$background: #131824;

.header {
    margin: 0;
    padding: 0;
    background-color: $background;

    .header__container {
        margin: 0 auto 0;
        padding: 35px 0;
        max-width: 1110px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__title {
            margin: 0;
            padding: 0;
            color: #fff;
            font-size: 30px;
            font-family: 'Angkor', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    
        .header__button {
            margin: 0;
            padding: 0;
            width: 40px;
            height: 40px;
            background: transparent;
            border: none;
            cursor: pointer;
    
            .header__icon {
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
                transition: .3s;
                &:hover {
                    opacity: .8;
                    transform: scale(1.2);
                }
            }
        }
    }
}

