.film-list {
    margin: 0;
    padding: 60px 0;
    width: 100%;
    background: #131824;

    .film-list__container {
        margin: 0 auto 0;
        padding: 0;
        max-width: 1110px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        gap: 30px;
    }
}